<%- include('../layouts/index.ejs') %>
    <div class="container">
        <div class="page-inner">
            <!-- <% if (messages.successAddAp || messages.successDeleteAp || messages.successEditAp) { %>
                <div class="d-flex justify-content-end">
                    <div class="alert alert-success alert-dismissible fade show" style="width: 300px; position: fixed;"
                        role="alert">
                        <% if (messages.successAddAp) { %>
                            <%= messages.successAddAp %>
                                <% } else if (messages.successDeleteAp) { %>
                                    <%= messages.successDeleteAp %>
                                        <% } else { %>
                                            <%= messages.successEditAp %>
                                                <% } %>
                                                    <button type="button" class="btn-close btn-sm"
                                                        data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <% } %> -->
            <div class="page-header mb-2">
                <h4>Danh sách tài sản</h4>
            </div>
            <div class=" d-flex justify-content-between align-items-center mb-3">
                <form id="searchForm" action="/apartment/searchApartmentNumber" method="POST">
                    <div style="width: 200px;" class="input-group">
                        <select class="form-select">
                            <option value="apartment">-- Loại tài sản --</option>
                        </select>
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
                <a class="btn btn-primary" href="/apartment/createApartmentPage">
                    <i class="fa-regular fa-plus"></i> Thêm tài sản
                </a>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="table-responsive rounded-2">
                        <table id="add-row" class="table table-head-bg-primary table-hover text-center ">
                            <thead class="table-success">
                                <tr>
                                    <th scope="col" style="display: none;">#</th>
                                    <th scope="col">Mã tài sản</th>
                                    <th scope="col">Tên tài sản</th>
                                    <th scope="col">Loại tài sản</th>
                                    <th scope="col">Ngày mua</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Vị trí</th>
                                    <th scope="col">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination d-flex justify-content-center">
                            <% if (parseInt(currentPage)> 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=5">
                                        <span>Trước</span>
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <span class="page-link">Trước</span>
                                    </li>
                                    <% } %>

                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="page-item <%= i === parseInt(currentPage) ? 'active' : '' %>">
                                                <a class="page-link" href="?page=<%= i %>&limit=5">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% } %>

                                                <% if (parseInt(currentPage) < totalPages) { %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=5"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">Sau</span>
                                                        </a>
                                                    </li>
                                                    <% } else { %>
                                                        <li class="page-item disabled">
                                                            <span class="page-link" aria-hidden="true">Sau
                                                            </span>
                                                        </li>
                                                        <% } %>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>