<%- include('../layouts/index.ejs') %>
    <div class="container">
        <div class="page-inner">
            <a class="btn btn-light rounded-3  " href="/apartment">
                <i class=" fa-solid fa-arrow-left-long"></i>
            </a>
            <div class="page-header">
                <h3 class="fw-bold mb-0"></h3>
            </div>
            <div class="row">
                <form method="POST" action="/apartment/editApartment">
                    <div class="col-md-12 ">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Sửa thông tin căn hộ</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Số căn hộ</label>
                                            <input readonly required type="number" name="ApartID" class="form-control"
                                                value="<%= apartment.ApartID %>" readonly>
                                        </div>
                                        <div class="form-group ">
                                            <label>Tầng</label>
                                            <input required type="number" name="Floor" class="form-control"
                                                value="<%= apartment.Floor %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group ">
                                            <label>Số lượng phòng</label>
                                            <input required type="number" name="TotalRoom" class="form-control"
                                                value="<%= apartment.TotalRoom %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select class="form-select" name="Status">
                                                <option value="Đang ở" <%=apartment.Status==='Đang ở' ? 'selected' : ''
                                                    %>>Đang ở</option>
                                                <option value="Trống" <%=apartment.Status==='Trống' ? 'selected' : '' %>
                                                    >Trống</option>
                                                <option value="Sửa chữa" <%=apartment.Status==='Sửa chữa' ? 'selected'
                                                    : '' %>>Sửa chữa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group ">
                                            <label for="Size">Diện tích/m2</label>
                                            <input required type="number" name="Size" class="form-control"
                                                value="<%=apartment.Size %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="/apartment" class="btn btn-danger">Huỷ</a>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>