<%- include('../layouts/index.ejs') %>
    <div class="container">
        <div class="page-inner">
            <a class="btn btn-light rounded-3" href="/asset">
                <i class="fa-solid fa-arrow-left-long"></i>
            </a>
            <div class="page-header"></div>
            <div class="row">
                <form method="POST" action="/asset/editAsset">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Chỉnh sửa tài sản</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="AssetID">Mã tài sản</label>
                                            <input required type="text" name="AssetID" class="form-control"
                                                value="<%= asset.AssetID %>" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label>Danh mục</label>
                                            <select class="form-select" name="AssetCategory" required>
                                                <option value="" disabled>--Chọn danh mục--</option>
                                                <option value="Hệ thống điện & nước"
                                                    <%=asset.AssetCategory==='Hệ thống điện & nước' ? 'selected' : '' %>
                                                    >Hệ thống điện & nước</option>
                                                <option value="Hệ thống PCCC" <%=asset.AssetCategory==='Hệ thống PCCC'
                                                    ? 'selected' : '' %>>Hệ thống PCCC</option>
                                                <option value="Hệ thống an ninh"
                                                    <%=asset.AssetCategory==='Hệ thống an ninh' ? 'selected' : '' %>>Hệ
                                                    thống an ninh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label for="Name">Tên tài sản</label>
                                            <input required type="text" name="Name" class="form-control"
                                                value="<%= asset.Name %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày mua</label>
                                            <input required type="date" name="PurchaseDate" class="form-control"
                                                value="<%= asset.PurchaseDate.toISOString().split('T')[0] %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Tình trạng</label>
                                            <select class="form-select" name="Status">
                                                <option value="" disabled>--Chọn tình trạng--</option>
                                                <option value="Đang sử dụng" <%=asset.Status==='Đang sử dụng'
                                                    ? 'selected' : '' %>>Đang sử dụng</option>
                                                <option value="Bảo trì" <%=asset.Status==='Bảo trì' ? 'selected' : '' %>
                                                    >Bảo trì</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Vị trí</label>
                                            <input required type="text" name="Location" class="form-control"
                                                value="<%= asset.Location %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="/asset" class="btn btn-danger">Huỷ</a>
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>